/* esta es mi archivo de estilos */
		body{
			/*background-color: #004080;*/
			background-image: url("tapiz1.jpg");
			background-repeat: no-repeat;
  			background-size: contain, cover;
			color: navajowhite;
		}
		header{
			background-color: #0073e6;
			border: 5px outset  #ffff1a;

		}
		h1{
			text-align: center;
			font-family: times new roman;
		}
		a:link{
			color: antiquewhite ;
		}
		a:visited{
			background-color:  #e6f2ff;
			color:yellowgreen ;

		}
		a:hover{
			background-color:  #e6f2ff;

		}
		a:active{
			color: indianred;
		}
		.parrafo1{
			background-color: #b3d9ff;
			color: black;
			font-size: 16px;
			padding:40px 25px;
			text-align: justify;

		}
		.parrafo2{
			background-color: #ffb3ff;
			color: black;
			font-size: 20px;
			padding: 35px 15px;
			text-align: justify;
		}
		img {
  			display: block;
  			margin-left: auto;
 			 margin-right: auto;
}